<?xml version="1.0"?>
<config>
    <modules>
        <Mdg_Megamenu>
            <version>0.1.0</version>
        </Mdg_Megamenu>
    </modules>
    <global>
        <blocks>
            <megamenu>
                <class>Mdg_Megamenu_Block</class>
            </megamenu>
            <!-- Rewrite menu -->
            <page>
                <rewrite>
                    <html_topmenu>Mdg_Megamenu_Block_Page_Html_Topmenu</html_topmenu>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <megamenu>
                <class>Mdg_Megamenu_Helper</class>
            </megamenu>
        </helpers>
        <models>
            <megamenu>
                <class>Mdg_Megamenu_Model</class>
                <resourceModel>megamenu_resource</resourceModel>
            </megamenu>
            <megamenu_resource>
                <class>Mdg_Megamenu_Model_Resource</class>
                <entities>
                    <megamenu>
                        <table>tb_megamenu</table>
                    </megamenu>
                </entities>
            </megamenu_resource>
        </models>
        <resources>
            <megamenu_setup>
                <setup>
                    <module>Mdg_Megamenu</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </megamenu_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <megamenu>
                <use>standard</use>
                <args>
                    <module>Mdg_Megamenu</module>
                    <frontName>megamenu</frontName>
                </args>
            </megamenu>
        </routers>
        <layout>
            <updates>
                <megamenu>
                    <file>mdg/megamenu/frontend.xml</file>
                </megamenu>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mdg_Megamenu before="Mage_Adminhtml">Mdg_Megamenu_Adminhtml</Mdg_Megamenu>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <featured>
                    <file>mdg/megamenu/admin.xml</file>
                </featured>
            </updates>
        </layout>
    </adminhtml>

    <!-- System Config Default Value-->
    <default>
        <megamenu_config>
            <general>
                <is_enabled>1</is_enabled>
            </general>
            <menu>
                <background>FFFFFF</background>
            </menu>
            <item>
                <item_align>center</item_align>
                <item_height>60</item_height>
                <item_size>100</item_size>
                <item_color>2e3233</item_color>
                <item_select_color>69aa6f</item_select_color>
            </item>
            <submenu>
                <width>92</width>
                <link_color>2e3233</link_color>
                <link_hover_color>69aa6f</link_hover_color>
            </submenu>
            <product_grid>
                <visible_name>1</visible_name>
                <visible_price>0</visible_price>
                <image_hover_color>3399cc</image_hover_color>
            </product_grid>
        </megamenu_config>
    </default>
</config>